stages:
  - build 
  - test-designer
  - test-extras
  - test-sdk

variables:
  LANG: "en_US.UTF-8"

before_script:
# First time (not necessary until we go with conda)
#   - brew update 
#   - brew upgrade
# Chnange shell zsh -> bash
#. - chsh -s /bin/bash
#   - brew install miniconda
   - git switch 63-add-package-management
   - git submodule foreach git switch 63-add-package-management

   - conda env update --file conda/env_osx.yaml  --prune 
   - source activate openvibe
   - mkdir -p ../build-CI && cd ../build-CI
   - export OV_PATH_ROOT=`pwd`
build:
  stage: build
  script:
   - cd ../build-CI && rm -rf *
   - cmake ../meta; make install -j4; make install
 
  tags:
    - catalina

test-designer:
  stage: test-designer
  script:
      - echo "==== Testing Designer ===="
      - cd ../build-CI/designer;
      - echo "Designer tests to be continue"
  tags:
    - catalina

test-extras:
  stage: test-extras
  script:
      - cd ../build-CI/extras;
      - echo "==== Testing Extras ===="
      - ctest -T test
  tags:
    - catalina
        
test-sdk:
  stage: test-sdk
  script:
      - cd ../build-CI/sdk;
      - echo "==== Testing SDK ===="
      - ./ctest-launcher.sh
  tags:
    - catalina
